/* shared */  
* {
    box-sizing: border-box;
}
:root {
    --main-color: #4A4E69;
    --second-color: #22223B;
    --third-color: #F2E9E4;
    --fourth-color: #C9ADA7;
    --main-font: "titleFont";
    --second-font: "textFont";
    --third-font: "italicTextFont";
}
@font-face {
    font-family: "titleFont";
    src: url(/assets/fonts/Merriweather_24pt-SemiBold.ttf);
}
@font-face{
    font-family: "textFont";
    src: url(/assets/fonts/Nunito-Regular.ttf);
}
@font-face{
    font-family: "italicTextFont";
    src: url(/assets/fonts/Nunito-Italic.ttf);
}
.darkh{
    color: var(--second-color);
    font-family: var(--main-font);
}
.lighth{
    color: var(--third-color);
    font-family: var(--main-font);
}
body{
    background-color: var(--fourth-color);
    display: flex;
    flex-wrap: wrap;   
}
header{
    background-color: var(--main-color);
    border-radius: 8px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 99%; 
}
.menuBar {
    width: 100%;
}
nav{
    background-color: var(--second-color);
    color: var(--third-color);
    padding: 0.4%;
    border-radius: 8px;
    border-style: double;
}
.links:hover { 
    margin: 10px;
    color: var(--fourth-color);
    border-radius: 10px;
    padding: 10px 12px;
    font-family: var(--second-font);
}
.links{
    margin: 10px;
    padding: 10px 12px;
    color: #F2E9E4;
    text-decoration: none;
    font-size: 20px;
    font-family: "textFont";
}
ul {
    margin: 2px;
    padding: 0px;
  }
ul li {
    display: inline-block;
    border-radius: 6px;
    width: 200px;
}
ul li:hover {
    background: var(--main-color);
}
ul li:hover ul {
    display: block;
}
ul li ul {
    position: absolute;
    width: 200px;
    display: none;
  }
ul li ul li { 
    background: var(--main-color); 
    display: block; 
    border-radius: 6px;
    text-decoration: underline;
  }
ul li ul li a {
    display:block !important;
}
footer{
    background-color: var(--second-color);
    color: var(--third-color);
    text-align: right;
    font-family: var(--third-font);
    padding: 10px 12px;
    font-size: small;
    border-radius: 8px;
    width: 100%;
    border-style: double;
}  
.footer{
    margin-top: 10px;
    margin-bottom: 15px;
}
.footerLinks:hover {
    background-color: var(--third-color);
    color: var(--second-color);
    border-radius: 6px;
    font-family: var(--main-font);
    padding: 8px 10px;
    margin: 5px;
}
.footerLinks {
    color: var(--third-color);
    text-decoration: none;
    font-size: 15px;
    font-family: var(--main-font);
    margin: 15px;
    padding: 8px 10x;
}
/* index */

.main{
    width: 78%;
    margin:1%;
}
.pMain{
    font-size: 20px;
}
.bg{
    height: 380px;
    background-image: radial-gradient(#6e7bd1,#3c3c6c);
    text-align: center;
    border-radius: 16px;
}
.bg-img{
    margin-top: 2.5%;
    width: 18%;
    border-radius: 50%;
    border-style: double;
    border-color: var(--third-color);
}
h1{
    font-family: var(--main-font);
    color: var(--third-color);
    text-align:center;
    margin-top: 0.5%;
}
.main-container{
    font-size: 22px;
    color: var(--second-color);
    font-family: var(--second-font);
    text-align: justify;
    padding: 18 px;
    display: inline-block;
}
aside {
    background-color: var(--main-color);
    color: var(--third-color);
    border-radius: 8px;
    width: 19%;
    margin: auto;
}
td, th{
    padding: 5px;
    text-align: center;
}
.indexLinks{
    color: var(--second-color);
}
.indexLinks:hover {
    color:var(--third-color);
}
.indexLinksLight{
    color:var(--third-color);
}
.indexLinksLight:hover, .indexLinksLight:active{
    color:var(--second-color);
}
.iSection1, aside, .contact{
    background-color: var(--main-color);
    color: var(--third-color);
    padding: 18px;
    text-align: center;
    font-size: 21px;
    font-family: var(--second-font);
    border-radius: 8px; 
}
.aside{
    text-align: justify;
    font-size: 18px;
    padding: 0%;
}
.skillSection, .projectSection, .profileSection{
    color: var(--second-color);
    font-family: var(--second-font);
    font-size: 22px;
    text-align: justify;
    display: inline-block;
    width: 60%;
    margin-top: 3.5%;
}
.projectSection{
    text-align: right;
    margin-left: 16%;
}

/* multimedia index */ 
.me{
    width: 22%;
    float: right;
    margin: 30px 30px 0 30px;
    border-radius: 8px;
}
.skillIcon, .profileIcon {
    width: 12%;
    float: left;
    margin: 2%;
    margin-left: 10%;
}
.projectIcon {
    width: 12%; 
    margin-right: 10%;
    margin-top: 3%;
    float: right;
}

/*about me */
.aboutMe{
    background-color: var(--main-color);
    font-family: var(--second-font);
    font-size: 22px;
    color: var(--third-color);
    border-radius: 8px; 
    padding: 2%;
    margin: 2%;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: 488px 260px 260px 488px ;
    align-items: center;
    justify-content: center;
    margin: 2px;
    margin-top: 10px;
  }
  .item {    
    margin: 4%;
  }
  .aboutmeContentFirst {
    color: var(--second-color);
    text-align: center;
    font-family: var(--second-font);
    font-size: 22px;
    margin: 4%;
    padding: 20px;
    
  }
.imgFilms {
    width: 80%;
    display: grid;
    grid-template-columns: 300px 300px 300px; 
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1%;
    gap: 10%;
}
.film {
    background-color: var(--main-color);
    width: 90%;
    margin: auto;
    margin-top: 2%;
    padding: 0.2%;
    border-radius: 16px;
    text-align: center;
    font-family: var(--second-font);
    color: var(--third-color);
    font-size: 22px;
}
.midContainer{
    display: grid;
    grid-template-columns: 1000px ;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 3%;
    margin-bottom: 1%;
}
.series{
    background-color: var(--main-color);
    border-radius: 8px;
    padding: 3%;
    color: var(--third-color);
    font-family: var(--second-font);
    font-size: 20px;
}
.lastContainer{
    width: 1400px;
    margin: auto;
    color: var(--second-color);
    font-family: var(--second-font);
    font-size: 22px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}
.gym{
    display: grid;
    grid-template-columns: 450px 450px 450px;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
  
/* multimedia about me */ 
.first-img {
    width: 100%;
    height: 450px;
    border-radius: 12px;
}
.films {
    width: 100%;
    border-radius: 20px;
    border-style:dashed;
    border-color: var(--second-color);
}
.documentary {
    width: 80%;
    margin-left: 10%;
    border-radius: 12px;
}
.serie {
    border-radius: 8px;
    width: 861px; 
    height: 421px;
    margin-left: 4%;
}
.photos {
    width: 80%;
    border-radius: 5%;
    border: groove 3px var(--second-color);
}

/* projects */  

.proMain{   
    width: 80%;
    background-color: var(--main-color);
    color: var(--third-color);
    font-family: var(--second-font);
    font-size: 20px;
    padding: 1%;
    border-radius: 8px; 
    text-align: center; 
    margin: 1% auto 1% auto;
}
.project {
    width: 90%;
    display: grid;
    grid-template-columns: 550px 550px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.projects {
    color: var(--second-color);
    font-family: var(--second-font);
    font-size: 20px;
    margin: 3%;
    padding: 2%;
    text-align: justify;
}
.soon{
    width: 90%;
    background-color: var(--main-color);
    color: var(--third-color);
    font-family: var(--second-font);
    text-align: center;
    margin: auto;
    border-radius: 8px;
    padding: 0.5%;
}
/* multimedia projects*/ 

/* skills*/  

/* contact */  
.contact {
    width: 100%;
    margin: 3%;
}
.inputs, .inputLast{
    border-radius: 10px;   
    border-style: double;   
    width: 220px;
    height: 30px;
}
.inputLast{ 
    width: 300px;
    height: 100px;
}
